body {
  background-image: radial-gradient(#c44, #111);
  padding: 0;
  margin: 0;
}

#root {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.palette {
  float: left;
}

.panel {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.title {
  display: flex;
  justify-content: center;
  font-size: 48px;
  font-family: 'Faster One', cursive;
  color: #000;
  text-shadow: 2px 2px #c44;
}