.cell {
    font-size: 9px;
    border-top: 1px solid #333;
    border-left: 1px solid #222;
    margin: 0px;
    float: left;
    border-radius: none;
}

.row {
    clear: both;
}

#container {
    background: #000;
    margin: 0px auto;
    border: 9px solid #333;
    border-radius: 9px;
    box-shadow: 0px 16px 30px 0px #200;
}